html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  position: relative;
  background-color: #2b3851;
}

.robot {
  width: 320px;
  height: 240px;
}

.robot-body {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 320px;
}

.robot-brain {
  left: 50%;
  transform: translate(-50%);
  top: 23%;
  position: absolute;
  width: 46px;
}

.robot:hover .robot-brain {
  top: 15%;
}

.robot-head-right,
.robot-head-left {
  position: absolute;
  top: 7%;
  width: 125px;
}

.robot-head-right {
  left: 50%;
}

.robot:hover .robot-head-right {
  left: 55%;
  top: 5%;
}

.robot-head-left {
  right: 50%;
}

.robot:hover .robot-head-left {
  right: 55%;
  top: 5%;
}
